.container{
    width: 16rem;
    margin: 0 auto;
    padding: 2rem;
    border: 5px solid #004935; 
    color: #96eca3;
    text-align: left;
    font-weight: 200;
}

label{
    float: left;
    margin: 4px;
}

input{
    margin: 4px;
    float: right;
}

button{
    float: right;
}

